{%- extends "_burton/block" %}

{%- block blockContent -%}
    {{- parent() | attr({
        data: { animate: settings.eyecandy ?? null }
    }) -}}
{%- endblock -%}


{%- block beforeContent -%}
    {% switch settings.eyecandy ?? null %}
        {% case "path" %}
            {%- set prev = ( loops.block.prevhtml ?? '' ) | retconOnly("*[data-attach]") | parseAttr -%}
            {%- set curr = ( blockContent ?? '' ) | retconOnly("*[data-attach]") | parseAttr -%}
            {%- set path = _self.eyecandyPath( "#{prev.data.attach ?? ''}-to-#{curr.data.attach ?? ''}" ) -%}

            {%- if loops.theme.index ?? null == 1 -%}
                {{- tag( 'template', { id: "beforeGroup", html: path, }) -}}
            {%- else -%}
                {{- raw( path ) -}}
            {%- endif -%}
        {% case "hr" %}
            <div class="relative z-20 flex items-center justify-center max-h-40 mt-12">
                {{- svg( "@svgroot/path-hr.svg" ) | attr({
                    class: "object-cover stroke-theme-tint2 w-full h-full" }) -}}
            </div>
        {% default %}
            {%- if loops.theme.index ?? null > 1 -%}
                {{- parent() -}}
            {%- endif -%}
    {% endswitch %}
{%- endblock -%}


{%- macro eyecandyPath( path ) -%}
    {%- if path|lower in [
        'left-to-right', 'right-to-left',
        'right-to-center', 'center-to-right',
        'left-to-center', 'center-to-left'
    ] -%}
    <div class="relative z-30 flex items-center justify-center text-theme-accent">
        {% switch path %}
            {% case "right-to-left" %}
                {{- svg( "@svgroot/path-#{path}.svg" ) | attr({
                    class: "max-h-28 -rotate-6 fill-theme-highlight stroke-theme-highlight" }) -}}
            {% case "left-to-right" %}
                {{- svg( "@svgroot/path-#{path}.svg" ) | attr({
                    class: "max-h-28 rotate-6 fill-theme-highlight stroke-theme-highlight" }) -}}
            {% case "right-to-center" %}
                {{- svg( "@svgroot/path-#{path}.svg" ) | attr({
                    class: "max-h-28 -rotate-6 lg:translate-x-20 fill-theme-highlight stroke-theme-highlight" }) -}}
            {% case "left-to-center" %}
                {{- svg( "@svgroot/path-#{path}.svg" ) | attr({
                    class: "max-h-28 rotate-6 lg:-translate-x-20 fill-theme-highlight stroke-theme-highlight" }) -}}
            {% default %}
                {{- svg( "@svgroot/path-#{path}.svg" ) | attr({
                    class: "max-h-28 fill-theme-highlight stroke-theme-highlight" }) -}}
        {% endswitch %}
    </div>
    {%- endif -%}
{%- endmacro -%}


{% macro component__system( block ) %}
    {%- switch block.component.handle ?? null -%}
        {%- case "comments" -%}
            {%- from "_theme/entry" import comments -%}
            {{- comments( block.primaryOwnerId ?? null ) -}}
        {%- default -%}
    {%- endswitch -%}
{%- endmacro -%}


{%- macro component__asset( block ) -%}
    {%- import "_burton" as b -%}
    {%- set asset = collect(block.download ?? []).first() ?? null -%}
    {{- asset ? b.card( asset, 'download' ) -}}
{%- endmacro -%}