{%- extends "_burton/base/menu" -%}


{# {%- macro menu__utility( handle, name ) -%} #}
{%- macro menu__utility( handle ) -%}
    {%- set handle  = 'utility' -%}
    {%- set nodes   = craft.navigation.nodes().handle(handle).level(1).all() ?? null -%}
    {%- set trigger = _self.trigger(
        svg: { path: "@appicons/search.svg", class: 'w-4 h-4 block fill-current' },
        dispatch: 'open-search',
    ) | trim -%}

    {%- set params = {
        menu: handle,
    } | merge( varargs, true ) -%}

    {# {{- nodes ? _self.renderMenu( nodes|unshift(trigger), ...params ) -}} #}
    {{- nodes ? _self.renderMenu( nodes, ...params ) -}}
{%- endmacro -%}


{# {%- macro menu__primary( handle, name ) -%} #}
{%- macro menu__primary( handle ) -%}
    {%- set handle  = 'primary' -%}
    {%- set nodes   = craft.navigation.nodes().handle(handle).level(1).all() ?? null -%}

    {%- set trigger = _self.trigger(
        svg: { path: "@appicons/bars.svg" },
        dispatch: 'open-megamenu',
    ) | trim -%}

    {%- set params = {
        menu: handle,
    } | merge( varargs, true ) -%}

    {# {{- nodes ? _self.renderMenu( nodes|unshift(trigger), ...params ) -}} #}
    {{- nodes ? _self.renderMenu( nodes, ...params ) -}}
{%- endmacro -%}



{%- block defs -%}
    {%- set defs = {
        menu_utility : {
            nav: {
                attr: {
                    aria: { label: "Site Utilities" },
                    class: "m-0 p-0 list-none flex no-underline text-xs sm:gap-3 md:text-sm"
                }
            },

            list: {
                attr: {
                    class: ["m-0 p-0 list-none flex items-center gap-3 lg:gap-6"]
                },
                node: {
                    attr: { class: "p-2 pt-0 flex flex-col items-center" }
                }
            },

            passive: {
                attr: { class: "p-2 pt-0 flex flex-col items-center" }
            },

            link: {
                attr: { class: "whitespace-nowrap text-theme-link underline-offset-1 hover:underline hover:text-theme-link-hover" },
                node: {
                    attr: {
                        class: "flex flex-col items-center p-0"
                    }
                }
            }
        },

        menu_primary : {
            nav: { attr: {
                aria: { label: "Primary Navigation" }
            }},
            list: {
                attr: { class: "m-0 p-0 list-none flex items-center gap-8" }
            },
            link: {
                node: {
                    attr: {
                        class: "flex flex-col items-center px-1.5 text-lg font-semibold"
                    }
                }
            }
        },

        menu_footer : {
            list: {
                attr: {
                    class: "flex flex-col leading-none list-none gap-3 no-underline underline-offset-2 @sm:whitespace-nowrap text-xl @xl:text-2xl text-white"
                }
            },
            passive: {
                tag: "div",
                attr: { class: "h4 mb-0 pb-2 border-b-2 border-dashed border-theme-accent" },
                label: {
                    tag: "span",
                    attr: { class: "" },
                }
            },
            link   : {
                attr: { class: "flex flex-col text-theme-link hover:text-theme-link-hover hover:underline" },
                node: {
                    attr: {
                        class: "list-disc"
                    }
                }
            }
        },

        menu_legal : {
            list: {
                attr: { class: "m-0 p-0 list-none flex flex-col @sm:flex-row xl:justify-end flex-wrap gap-x-4 gap-y-2" },
            },
            link   : {
                attr: {
                    class: "no-underline underline-offset-2 @sm:whitespace-nowrap text-theme-link hover:text-theme-link-hover hover:underline"
                },
                node: {
                    attr: { class: "flex flex-col p-0" }
                }
            }
        }
    } -%}

    {{- _self.merge_json( parent(), defs|json_encode ) -}}
{%- endblock -%}


{# {%- macro langtoggle( entry ) -%}
    {{- _self.sitetoggle( entry ) -}}
{%- endmacro -%} #}


{# {%- macro sitetoggle( entry ) -%}
    {%- set langSwitcher = craft.app.sites.getAllSites() -%}
    <ul>
        {% for lang in langSwitcher %}
            {% if lang.id != currentSite.id %}
                {%- set alternateUrl = null %}
                {% if entry.id ??? null %}
                    {%- set otherLocaleEntry = craft.entries.siteId(lang.id).id(entry.id).one() -%}
                    {%- set alternateUrl = otherLocaleEntry.url|default() -%}
                {% endif %}

                {% if alternateUrl %}
                    <li>
                        <a href="{{alternateUrl}}"
                        class="
                            flex
                            px-4
                            py-2
                            text-sm
                            text-theme-link
                            hover:text-theme-link-hover
                        "
                        ><span class="w-4 text-center">{{lang.language|upper|slice(0,2) }}</span></a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{%- endmacro -%} #}


{# {%- macro component( handle ) -%}
    {%- set menu    = craft.navigation.getNavByHandle( handle ) ??? null %}
    {%- set nodes   = craft.navigation.nodes().handle( handle ).level(1) -%}
    {%- set sidebar = settings.field ?? null == 'sidebarBuilder' %}

    {% if menu %}
        <div class="@container">

        </div>
    {% endif %}

    {% if sidebar %}
        {% embed ["_burton/theme/menu"] with {
            title : menu.name ?? null,
            handle: handle,
            items : nodes.all() ??? null,
        } %}
            {% block item %}
                {% if node.isPassive %}
                    {%- set passive = "text-theme-accent font-bold text-base uppercase" -%}
                    {{ tag( 'div', {
                        class: loop.first ? passive : "#{passive} mt-10",
                        html : "<span>#{node.title}</span>"
                    }) }}
                {% else %}
                    {%- set link = 'bg-theme-surface p-2 block w-full no-underline hover:bg-theme-accent hover:text-theme-accent-surface' %}
                    {{ tag( 'a', {
                        href : node.url ??? null,
                        class: node.active ? "#{link} is-active" : link,
                        html : "<span>#{node.title}</span>"
                    }) }}
                {% endif %}
            {% endblock %}

            {% block closeItem %}
                </li>

                {% if node.children.one() -%}
                    {% for child in node.children.all() -%}
                        <li class="{{ block('itemClass') }}">
                            {%- set link = 'bg-theme-surface p-2 block w-full no-underline hover:bg-theme-accent hover:text-theme-accent-surface' %}
                            {{ tag( 'a', {
                                href : child.url ??? null,
                                class: child.active ? "#{link} is-active" : link,
                                html : "<span>#{child.title}</span>"
                            }) }}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block menuClass %}
                m-0
                p-0
                flex
                flex-col
                gap-1
                w-full
            {% endblock %}

            {% block itemClass %}
                m-0
                flex
                items-center
                text-theme-link
                no-underline
            {% endblock %}
        {% endembed %}
    {% else %}
        {{- parent() -}}
    {% endif %}
{%- endmacro -%} #}


    {## [Site] Mega Menu Dropdown
    {---------------------------------------------------------------------------------------}
        A simple AlpineJS based mega-menu dropdown / drawer
    --------------------------------------------------------------------------------------##}
    {# {%- set mega__bodyclass    = 'hasmaindrop' -%}
    {%- set mega__opentrigger  = 'openmaindrop' -%}
    {%- set mega__closetrigger = 'closemaindrop' -%}
    {%- set mega__theme        = 'light' -%}
    {%- set mega__handle       = 'primary' -%} #}


    {## Core HTML Structure
    --------------------------------------------------------------------------------------##}
    {# {% block base %}
        {%- import "_burton" as b -%}

        <template
            x-cloak
            x-if="open"
            x-data="{open:false}"
            x-init="$watch('open', value => ( value ) ? document.body.classList.add('{{mega__bodyclass}}') : document.body.classList.remove('{{mega__bodyclass}}') )"
            x-on:{{mega__opentrigger}}.window="open = true"
            x-on:{{mega__closetrigger}}.window="open = false"

        >
            <div
                x-transition
                x-trap.noscroll.inert="open"
                x-on:click.stop
                x-on:keydown.escape.prevent.stop="$dispatch('{{mega__closetrigger}}'); open=false;"
                role="dialog"
                aria-modal="true"
                aria-label="Sitemap Navigation"
                data-theme="{{mega__theme}}"
                class="fixed inset-x-0 top-0 z-50 overflow-none canvas"
            >
                <div class="text-center p-10 font-bold">
                    Mega Menu
                </div>
            </div>
        </template>
    {% endblock %} #}


            {# <div class="translate-y-[-1px]">
                {% embed ["_burton/theme/menu"] with {
                    title: craft.navigation.getNavByHandle(mega__handle).name,
                    items: craft.navigation.nodes().handle(mega__handle).level(1),
                    firstItem: block('close')
                } %}
                    {% block itemClass %}
                        flex
                        flex-col
                        whitespace-nowrap
                        p-4
                        text-theme-link
                        underline-offset-2
                        hover:underline
                        hover:text-theme-link-hover
                    {% endblock %}
                {% endembed %} #}

            {# </div>
        {% endblock %}
    {% endblock %} #}


    {## Manual Open / Close Buttons
    {----------------------------------------------------------------------------------------##}
    {# {%- block close _self.trigger({
        trigger : mega__closetrigger,
        svgpath : '@appicons/xmark.svg',
        label   : 'Close Sitemap'|t
    }) -%} #}


{# {%- macro a11y( entry ) -%}
    <div
        x-cloak
        x-data="{}"
        data-theme="dark"
        class="
            absolute
            z-max
            top-0
            inset-x-0
            h-12
            flex
            items-center
            justify-center
            -translate-y-full
            opacity-0
            transition-transform
            focus:translate-y-0
            focus:opacity-100
            focus-within:translate-y-0
            focus-within:opacity-100
        ">
        <div>
            Skip to <a href='#header' aria-label="Jump to Content" class="font-medium no-underline p-2 inline-block">content</a>
                or <a href='#footer'  aria-label="Jump to Footer"  class="font-medium no-underline p-2 inline-block">footer</a>.
        </div>
    </div>
{%- endmacro -%} #}