{## burton/panel
{-------------------------------------------------------------------------------------##}
{%- extends "_burton/base/partial" -%}

{%- set handle = handle ?? null -%}

{%- set params = {
    trigger: {
        open : "open-#{handle}",
        close: "close-#{handle}",
        body : "has-#{handle}"
    },
    panel: {
        tag: "div",
        attr: {
            class: ["fixed inset-0 z-50 overflow-hidden"]
        }
    },
    body: {
        tag: "div",
        attr: {
            data: { theme: "light" },
            class: ["w-full h-full justify-center items-center flex p-5"]
        }
    },
    inner: {
        tag: "div",
        attr: {
            class: ["max-w-3xl w-full"]
        },
    },
    close: {
        tag: "div",
        attr: {
            class: ["absolute top-8 right-8"]
        }
    }
} | merge({
    trigger : ( trigger ?? null ) is iterable ? trigger : {},
    panel   : ( panel ?? null ) is iterable ? panel : {},
    body    : ( body ?? null ) is iterable ? body : {},
    inner   : ( inner ?? null ) is iterable ? inner : {},
    close   : ( close ?? null ) is iterable ? close : {},
}, true ) -%}

{%- block output -%}
    {%- if content -%}
        <template
            x-cloak
            x-if="open"
            x-data="{open:false}"
            x-init="$watch('open', value => ( value ) ? document.body.classList.add('{{params.trigger.body}}') : document.body.classList.remove('{{params.trigger.body}}') )"
            x-on:{{params.trigger.open }}.window="open = true"
            x-on:{{params.trigger.close}}.window="open = false"
        >
            <div
                x-transition
                x-trap.noscroll.inert="open"
                x-on:click.stop
                x-on:keydown.escape.prevent.stop="$dispatch('{{params.trigger.close}}'); open=false;"
                role="dialog"
                aria-modal="true"
                data-theme="{{ params.panel.attr.data.theme ?? 'light' }}"
                class="{{ ( params.panel.attr.class ?? [] ) | join(' ') }} canvas @container"
            >
                {{- block("close", router.path ?? _self) -}}
                {{- block("body",  router.path ?? _self) -}}
            </div>
        </template>
    {%- endif -%}
{%- endblock -%}

{%- block body -%}
    {{- tag( params.body.tag ?? 'div', {
        html: block("inner", router.path ?? _self),
    ...params.body.attr ?? {} } ) -}}
{%- endblock -%}

{%- block inner -%}
    {{- tag( params.inner.tag ?? 'div', {
        html: content, ...params.inner.attr ?? {} } ) -}}
{%- endblock -%}

{% block close %}
    {{- tag( params.close.tag ?? 'div', { html: _self.trigger(
        svg: { path: "@appicons/xmark.svg" },
        dispatch: params.trigger.close
    ), ...params.close.attr ?? {} } ) -}}
{% endblock %}